html { height: 100%;
  background-size: cover;
  background-image: url("http://imgs.abduzeedo.com/files/paul0v2/sunset/sun-08.jpg");
background-position: center;
background-repeat: no-repeat;
}

h1 {color:red;}
h3 {color: red;}
h5 {color: white;}
p {color: white;}
footer {color: white;}
