html { height: 100%;
  background-size: cover;
  background-image: url("http://imgs.abduzeedo.com/files/paul0v2/sunset/sun-08.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  text-decoration: underline;
  text-decoration-color: white;
  color:red;
  <!--//border: 1px solid white;//-->
}
h3 {color: red;}
h5 {
  color: white;
  border: 3px solid white;
}

p {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 3px solid red;
  border-style: bold;
  border-color: red;
  padding: 10px;
} 

  footer {
    color: white;
    border: 3px solid red;

  }
